# Practice notebook
Please enter the necessary code in the cells below. Follow the instructions in the comment for each cell#, they tell you what the code should _do_ but not _how_ to do it. This is called **pseudocode**: Step-by-step instructions for what the code should do, leaving it up to you to write the executable code.

In [ ]:
# Import pandas and seaborn with the abbreviations pd and sns
import pandas as pd
import seaborn as sns
# Seaborn display options
sns.set_theme()
sns.set_context('talk')

Try loading a single sheet from the workbook students.xlsx

In [ ]:
# Load the students.xlsx spreadsheet from the data-subfolder (look on GitHub)
# When loading the dataframe:
#  Specify the header-row
#  Specify which sheet you're loading (there are three)

In [ ]:
# display the first few rows of your dataframe

Now, load all of the sheets and use pandas' `concat()` function in combination with the `read_excel()` function to join them together so that you get all three years of test scores in one table. 

For reference: Here's a great, simple guide for how to [combine multiple Excel worksheets in a Pandas dataframe](https://pbpython.com/pandas-excel-tabs.html).

In [ ]:
# Load all the sheets into one dataframe, using concat()

# Reshape long to wide
Use `pd.pivot()` to reshape a dataframe from long to wide.

## Example 1: Separate columns by subject

In [ ]:
# Declare a separate dataframe. Use pivot() 
# to spread the Subject-column into separate columns, 
# and calculate the average for each subject

## Example 2: Columns by year

In [ ]:
# Declare a new dataframe. Spread the Year-column into separate columns.
# Sort the dataframe by student name and subject, using sort_values()

# Reshape wide to long
Use `pd.melt()` to bring multiple columns (the year-columns in this case) into one, transforming the table from wide to long.

In [ ]:
df_wide2.keys()

In [ ]:
# Melt original df into a new dataframe titled df2_long:

In [ ]:
# Sort df2_long by student, subject, year

# Visualisations

## Categorical bar graph
For visualising categorical data (e.g., by year, subject, student) see this [Seaborn tutorial](https://seaborn.pydata.org/tutorial/categorical.html)

In [ ]:
# Use sns.catplot() to visualise scores by student and/or by year

## Line graph
Use Seaborn's `relplot()` to make a line graph from df2_long (see Seaborn tutorial on [relational graphs](https://seaborn.pydata.org/tutorial/relational.html))

In [ ]:
# Line graph from the df2_long

## Slopegraph
Turn the previous line graph into a **slopegraph** (visualising change between two points) by filtering out the middle year:

In [ ]:
# Select only 2020 and 2022 results

# Repeat the line graph code above